
.content {
    padding-left: 90px;
    font-size: 40px;
   align-self: center; 
   justify-self:end ;
  }
  .img{
    padding-left: 11%;
    align-self:auto;
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 7%;
  }
  .home{
display: flex;
flex-direction: row;


    
  }
  